header{

}
section{

}
.topo{
  float: left;
  padding-left: 10px;
  width: 200px;
  border: 1px solid black;
}
.resultado{
  clear: both;
}
.medico{
  float: left;
  border: 1px solid black;
  padding-left: 10px;
  width: 200px;
}
.botao{
  float: left;
}
.alterar{
  background-color: blue;
  color: white;
}
.excluir{
  background-color: red;
  color: white;
}
